#text {
    font-family: arial;
    font-weight: bold;
}

#clock {
    border: 5px solid black;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#month {
    font-weight: bold;
    font-size: 50px;
    display: block;
    padding-bottom: 80px;

}

#clockjs {
    font-weight: bold;
    font-size: 60px;
}

#day {
    font-weight: bold;
    font-size: 35px;
    padding-top: 80px;
}